[tool.poetry]
name = "moodlepy"
version = "0.14.0"
description = "Client for moodle webservice"
authors = ["hexatester <habibrohman@protonmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/hexatester/moodlepy"
repository = "https://github.com/hexatester/moodlepy"
packages = [
    { include = "moodle" },
]
include = [
    "LICENSE",
    "README.md",
]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.24.0"
dacite = "^1.5.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
yapf = "^0.30.0"
flake8 = "^3.8.3"
mypy = "^0.782"
pre-commit = "^2.7.1"
rope = "^0.17.0"

[tool.poetry.scripts]
moodle = "moodle.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
